GCP_PROJECT_ID=bootcamp-project-pea-pme

GCS_SOURCE_REFERENTIEL=referentiel/boursorama_peapme_final.csv
GCS_BUCKET_NAME=project-pea-pme
GCS_AMF_PREFIX=amf

BQ_DATASET_BRONZE=bronze
BQ_DATASET_SILVER=silver
BQ_DATASET_GOLD=gold

GROQ_API_KEY=your_groq_api_key_here